.bg{
    background-image: url("/AT_Lab_04_CE136/images/i2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}
.name{
   
    position: absolute;
    top: 2%;
    left: 2%;
    
}

.name h1{
    font-size: 150;
    letter-spacing: 9px;
    color: rgb(243, 237, 237);
} 
.menu{
    margin: 20;
    padding: 10px;
    background: black;
    position: absolute;
    top: 500;
    left: 100;
    color: white;
}
.menu h1{
    font-size: 60;
    letter-spacing: 9px;
    color: rgb(243, 237, 237);
}
.menu li{

    margin-left: 20px;
    color: white;
    float: left;
}
li a{
    color: white;
    text-decoration: none;
    
}